html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: 0;
  background-color: #fff;
  color: rgb(29, 29, 29);
}
body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
figure {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button,
label {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

svg {
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.benefits__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  margin-bottom: 120px;
}

.container {
  width: 1800px;
  margin: 0 auto;
  padding: 120px 250px;
  border-radius: 72px;
}
.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container--zero-top-bottom {
  padding: 0 250px;
}
.container--hero {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 56px 250px 155px;
  background-image: url("../images/hero/mask-bg-1x.png"), linear-gradient(rgb(228, 223, 255), rgb(228, 223, 255));
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: cover, cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .container--hero {
    background-image: url("../images/hero/mask-bg-2x.png"), linear-gradient(rgb(228, 223, 255), rgb(228, 223, 255));
  }
}
@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .container--hero {
    background-image: url("../images/hero/mask-bg-3x.png"), linear-gradient(rgb(228, 223, 255), rgb(228, 223, 255));
  }
}
.container--benefit {
  padding: 48px 250px 0;
}
.container--about {
  display: flex;
  gap: 36px;
}
.container--program {
  background-color: rgb(247, 247, 249);
}
.container--prices {
  background-color: rgb(17, 18, 23);
}

.nav {
  display: flex;
  gap: 270px;
  align-items: center;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  transform: translateY(-7px);
}

.menu {
  display: flex;
  gap: 4px;
}
.menu__link {
  display: block;
  padding: 9px 12px;
  border-radius: 8px;
}
.menu__link--accent {
  background-color: rgb(72, 80, 236);
  color: #fff;
}
.menu__link:hover {
  color: rgb(72, 80, 236);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link--option {
  display: flex;
  gap: 12px;
  align-items: center;
}
.menu__icon {
  width: 10px;
  height: 6px;
}

.menu__link--option:hover {
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  width: 531px;
}
.title__info {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.title__link {
  display: block;
  padding: 12px 24px;
  border-radius: 200px;
  line-height: 1.4;
  font-weight: 700;
  background-color: #fff;
}
.title__link:hover {
  color: rgb(72, 80, 236);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title__header {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 16px;
}
.title__text {
  margin-bottom: 36px;
}
.title__button {
  border: none;
  border-radius: 12px;
  margin-bottom: 30px;
  padding: 19px 36px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0;
  background-color: rgb(17, 18, 23);
  color: #fff;
}

.areas {
  display: flex;
  align-items: end;
  width: 704px;
  height: 505px;
  padding: 0 0 30px 0;
  transform: translateX(49px);
  background-image: url("../images/hero/areas-bg-1x.png"), url("../images/hero/union-bg-1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center bottom;
  background-size: cover, 90%;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .areas {
    background-image: url("../images/hero/areas-bg-2x.png"), url("../images/hero/union-bg-2x.png");
  }
}
@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .areas {
    background-image: url("../images/hero/areas-bg-3x.png"), url("../images/hero/union-bg-3x.png");
  }
}
.areas__list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  transform: translateX(38px);
}
.areas__link {
  display: block;
  padding: 12px;
  border-radius: 200px;
  line-height: 1.4;
  background-color: #fff;
}
.areas__link:hover {
  color: rgb(72, 80, 236);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits__list {
  display: flex;
  gap: 8px;
}
.benefits__item {
  flex-basis: 319px;
  border-radius: 24px;
  padding: 24px;
  background-color: rgb(247, 247, 249);
}
.benefits__item:nth-child(1) {
  background-color: rgb(124, 96, 233);
  color: #fff;
}
.benefits__emfasize {
  display: block;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700px;
  line-height: 1.42;
}
.benefits__decor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-bottom: 16px;
  background-color: rgb(17, 18, 23);
  color: #fff;
}
.benefits__icon {
  width: 12px;
  height: 12px;
}

.benefits__item:nth-child(2) .benefits__text {
  width: 170px;
}
.benefits__item:nth-child(3) .benefits__text {
  width: 250px;
}

.about {
  flex-basis: 484px;
}
.about__title {
  margin-bottom: 24px;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.21;
}

.program__title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
}
.program__block {
  display: flex;
  gap: 16px;
  align-items: start;
}
.program__list {
  flex-basis: 800px;
}
.program__item {
  margin-bottom: 16px;
}
.program__item:last-child {
  margin-bottom: 0;
}
.program__calendar {
  display: flex;
  gap: 16px;
}
.program__lessons, .program__days {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 230px;
  height: 275px;
  padding: 36px;
  border-radius: 36px;
  font-size: 16px;
  line-height: 1.3;
}
.program__lessons {
  color: #fff;
  background-image: url("../images/program/bookmark-1x.png"), linear-gradient(rgb(124, 89, 242), rgb(124, 89, 242));
  background-repeat: no-repeat, no-repeat;
  background-position: 30px 30px, center center;
}
.program__days {
  background-image: url("../images/program/calendar-1x.png"), linear-gradient(rgb(255, 223, 81), rgb(255, 223, 81));
  background-repeat: no-repeat, no-repeat;
  background-position: -30px -30px, center center;
}
.program__count {
  font-size: 66px;
  font-weight: 700;
}

.module {
  position: relative;
  border-radius: 36px;
  padding: 36px;
  background-color: #fff;
}
.module__title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700px;
  line-height: 1.2;
}
.module__text {
  position: absolute;
  top: 36px;
  right: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.44;
  color: rgb(63, 75, 94);
}
.module__item {
  margin-bottom: 12px;
}
.module__item:last-child {
  margin-bottom: 0;
}
.module__itemtxt {
  display: inline-block;
  border-radius: 16px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.56;
  background-color: rgb(247, 247, 249);
}

.prices__title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
}
.prices__block {
  display: flex;
  gap: 24px;
}

.reservation {
  width: 638px;
  border-radius: 36px;
  padding: 36px;
  background-color: #fff;
}
.reservation__title {
  margin-bottom: 31px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.125;
}
.reservation__list {
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 31px;
}
.reservation__item {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
}
.reservation__item:last-child {
  margin-bottom: 0;
}
.reservation__def {
  display: inline-block;
  width: 115px;
  color: rgb(102, 102, 102);
}
.reservation__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}
.reservation__costs {
  text-align: right;
}
.reservation__crossedprice {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.28;
  color: rgb(102, 102, 102);
  text-decoration: line-through;
}
.reservation__cost {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
}
.reservation__uah {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.27;
}
.reservation__button {
  width: 100%;
  border: none;
  border-radius: 16px;
  padding: 16px 36px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0;
  background-color: rgb(124, 89, 242);
  color: #fff;
}

.form {
  width: 472px;
  color: #fff;
  background-color: rgb(124, 89, 242);
  border-radius: 36px;
  padding: 36px;
}
.form__title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
}
.form__text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.44;
}
.form__input {
  border: none;
  width: 100%;
  padding: 13px 20px;
  border-radius: 16px;
  margin-bottom: 12px;
}
.form__input::-moz-placeholder {
  color: rgb(102, 102, 102);
}
.form__input::placeholder {
  color: rgb(102, 102, 102);
}
.form__button {
  margin-bottom: 16px;
  width: 100%;
  border: none;
  border-radius: 16px;
  padding: 19px 36px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0;
  background-color: rgb(17, 18, 23);
  color: #fff;
}
.form__privacy {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
}

.gallery__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 48px;
  text-align: center;
}
.gallery__list {
  display: flex;
  justify-content: space-between;
}

.faq__title {
  margin-bottom: 72px;
  font-size: 50px;
  line-height: 1.2;
}
.faq__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border-radius: 16px;
  padding: 16px 36px;
  font-size: 20px;
  line-height: 1.2;
  background-color: rgb(247, 247, 249);
}
.faq__item:last-child {
  margin-bottom: 0;
}
.faq__button {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #fff;
}
.faq__icon {
  width: 12px;
  height: 12px;
}/*# sourceMappingURL=main.css.map */