.container {
  width: 1800px;
  margin: 0 auto;
  padding: 120px 250px;
  border-radius: 72px;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--zero-top-bottom {
    padding: 0 250px;
  }

  &--hero {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 56px 250px 155px;
    // background-color: getColor("foregroundFirst");
    background-image:
      url("../images/hero/mask-bg-1x.png"),
      linear-gradient(getColor("foregroundFirst"), getColor("foregroundFirst"));
    background-repeat: no-repeat, no-repeat;
    background-position:
      center center,
      center center;
    background-size: cover, cover;
  }

  &--benefit {
    padding: 48px 250px 0;
  }

  &--program {
    background-color: getColor("foregroundSecond");
  }

  &--prices {
    background-color: getColor("foregroundThird");
  }
}
