.footer {
  font-size: 14px;
  line-height: 1.43;
  color: getColor("background");
  background-color: getColor("foregroundThird");

  &__block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    border-bottom: 1px solid getColor("borderstep");
  }
}

.step1 {
  width: 200px;

  &__logo {
    margin-bottom: 34px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: getColor("foregraundsocials");
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.step2 {
  width: 294px;

  &__text {
    padding: 36px 0 16px;
    border-bottom: 1px solid getColor("borderstep");
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    font-weight: 400;

    &--phones {
      margin-bottom: 40px;
    }
  }

  &__list1 {
    width: 130px;

    &--phones {
      width: 145px;
    }
  }

  &__item {
    margin-bottom: 14px;

    &--phones {
      margin-bottom: 0;
    }
  }

  &__link:hover,
  &__link:focus {
    color: getColor("accent");
    transition: color $tns-time $tns-func;
  }

  &__addresses {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;

    &:hover,
    &:focus {
      color: getColor("accent");
      transition: color $tns-time $tns-func;
    }
  }

  &__option {
    width: 10px;
    height: 6px;
  }

  &__button {
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 12px 36px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.57;
    background-color: getColor("greenButton");
  }
}

.messengers {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    gap: 12px;
  }

  &__link {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &--telegram {
      background-color: rgba(95, 132, 246, 1);
    }

    &--viber {
      background-color: rgba(124, 89, 242, 1);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    &--viber {
      width: 22px;
      height: 23px;
    }
  }
}

.copyright {
  padding: 24px 0;
  text-align: center;
}
