.menu {
  display: flex;
  gap: 4px;

  &__link {
    display: block;
    padding: 9px 12px;
    border-radius: 8px;

    &--accent {
      background-color: getColor("accent");
      color: getColor("background");
    }

    &:hover,
    &:focus {
      color: getColor("accent");
      transition: color $tns-time $tns-func;
    }
  }

  &__link--option {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__icon {
    width: 10px;
    height: 6px;
  }
}

.menu__link--option:hover,
.menu__link--option:focus {
  background-color: getColor("background");
  transition: background-color $tns-time $tns-func;
}
