html {
  scroll-behavior: smooth;
}

body {
  font-family: getFont("Mulish");
  font-size: 18px;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: 0;

  background-color: getColor("background");
  color: getColor("textDark");

  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
figure {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button,
label {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

svg {
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
